form {
  max-width: 550px;
  height: 450px;
  max-height: 80%;
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 15px;
  padding: 2rem;
  text-align: center;
  border-radius: 5em;
  background-color: rgba(255, 243, 176, 0.82);
  color: #473e21;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
}

.dropdownmenu {
  font-family: "Special Elite", system-ui;
  width: 20em;
  max-width: 95%;
  height: 6em;
  border-radius: 1em;
  text-align: center;
  border-style: none;
  background-color: #ffffffc3;
  color: #643927aa;
  font-size: medium;
  margin: auto;
}

.textarea {
  font-family: "Special Elite", system-ui;
  width: 20em;
  max-width: 95%;
  height: 10em;
  border-radius: 1em;
  text-align: center;
  border-style: none;
  background-color: #ffffffaa;
  color: #643927c3;
  font-weight: bold;
  font-size: medium;
  margin: auto;
}
.proteinarea,
.fatarea,
.carbsarea {
  font-family: "Special Elite", system-ui;
  width: 5em;
  max-width: 95%;
  height: 2em;
  border-radius: 1em;
  text-align: center;
  border-style: none;
  background-color: #ffffffaa;
  color: #643927c3;
  font-weight: bold;
  margin: auto;
}

.submit {
  width: 10em;
  height: 2em;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.scroll {
  max-height: 160px;
  overflow-y: auto;
}

.list {
  font-weight: bold;
  color: #6d4b3a;
  display: flex;
  justify-content: center;
}

.editbutton {
  color: #392218aa;
  background-color: rgb(215, 229, 239);
  font-size: small;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  max-height: fit-content;
}

.deletebutton {
  color: #392218aa;
  background-color: rgb(239, 215, 239);
  font-size: small;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  max-height: fit-content;
}

.calendar {
  background-color: #ffffffaa;
  border-color: #ffffffaa;
  border-radius: 20px;
}

.pagehead {
  font-family: "Special Elite", system-ui;
  padding: 2rem;
  border-radius: 5em;
  font-weight: bold;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1000px;
  height: 730px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.navlink.active > button {
  background-color: rgb(205, 176, 129);
  color: "white";
}

.calendar-container {
  max-width: 550px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 20px;
  background-color: #fbf3f3cd;
  margin-top: 15px;
}

.calendar-title {
  text-align: center;
  color: #be3535;
  font-weight: bold;
  font-size: 1.5rem;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  font-weight: bold;
  color: #be3535;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.calendar-cell {
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 8px;
  min-height: 30px;
  max-height: 60px; /* same height for every cell */
  overflow-y: auto; /* scroll if content is too tall */
  font-size: 0.875rem;
  position: relative;
  color: #be3535;
  background-color: #fcd4d4a5;
}

.calendar-cell.today {
  background-color: #be3535;
  color: #fff3ed;
}

.calendar-cell.today.hasfoods {
  background-color: #be3535;
  color: #fff3ed;
}

.calendar-cell.hasfoods {
  background-color: #f7eed1; /* light green, for example */
}

.calendar-cell.empty {
  background: transparent;
}

.date-number {
  font-weight: bold;
  margin-bottom: 4px;
  cursor: pointer;
}

.delete-btn {
  font-size: 0.3rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.calendar-nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0 8px;
  color: inherit;
}

.calendar-nav-btn:hover {
  color: #ff9a9a;
  border: none;
}

.meals-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 0.6rem;
}

.meal-item {
  white-space: nowrap;
}

.calendar-cell.hasfoods .date-number {
  background-color: rgba(255, 207, 167, 0.7);
  border-radius: 30%;
  padding: 2px;
}
.calendar-cell.hasfoods .date-number:hover {
  background-color: rgba(255, 175, 255, 0.566);
  border-radius: 30%;
  padding: 2px;
}

.calendar-cell.today.hasfoods .date-number:hover {
  background-color: #eb7474;
  color: #fff3ed;
  padding: 2px;
}

.modal-wrapper {
  backdrop-filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  height: 225px;
  width: 300px;
  background-color: rgb(239, 228, 215);
  border-radius: 10px;
  position: relative;
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
  font-size: medium;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 50%;
  padding: 5px 5px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #957a4dc4;
}

/* .modal-close-btn:hover {
  color: white;
  background-color: #957a4dc4;
} */

.modal-dateheader {
  color: brown;
  font-size: large;
}

.modal-list {
  display: flex;
  text-align: left;
}

.modal-deletebutton {
  color: #392218aa;
  background-color: rgb(255, 254, 226);
  font-size: small;
  padding: 10px;
  max-width: fit-content;
  height: 15px;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}
.food-item {
  color: #601818d7;
  font-size: small;
}
