.calendar-container {
  max-width: 550px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 20px;
  background-color: #fbf5f3;
  margin-top: 15px;
}

.calendar-title {
  color: var(--calendar-red);
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: nowrap;
  text-align: center;
  min-width: 0;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  font-weight: bold;
  color: var(--calendar-red);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.calendar-cell {
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 8px;
  min-height: 30px;
  max-height: 60px;
  overflow-y: auto;
  font-size: 0.875rem;
  position: relative;
  color: var(--calendar-red);
  background-color: #fcd4d4ec;
}

.calendar-cell.today {
  background-color: var(--calendar-red);
  color: var(--cream-light);
}

.calendar-cell.hasfoods {
  background-color: var(--cream);
}

.calendar-cell.empty {
  background: transparent;
}

.date-number {
  font-weight: bold;
  margin-bottom: 4px;
  cursor: pointer;
}

.delete-btn {
  font-size: 0.3rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.calendar-nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0 8px;
  color: inherit;
}

.calendar-nav-btn:hover {
  color: #ff9a9a;
  border: none;
}

.meals-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 0.6rem;
  position: relative;
}

.meal-item {
  white-space: nowrap;
}

.calendar-cell.hasfoods .date-number {
  background-color: rgba(255, 207, 167, 0.7);
  border-radius: 30%;
  padding: 2px;
}

.calendar-cell.hasfoods .date-number:hover {
  background-color: rgba(255, 175, 255, 0.566);
  border-radius: 30%;
  padding: 2px;
}

.calendar-cell.today.hasfoods .date-number:hover {
  background-color: #eb7474;
  color: var(--cream-light);
  padding: 2px;
}
