.calendarhead {
  font-family: "Special Elite", system-ui;
  padding: 2rem;
  border-radius: 5em;
  font-weight: bold;
  background-image: url(cherry1.png);
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
