button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* 
button:focus,
button:focus-visible {
  outline: 2px auto rgb(230, 209, 173);
} */

:root {
  color: white;
  background-color: #ffffffc5;
  font-family: "Special Elite", system-ui;
}

button {
  background-color: #ffffffc5;
}

button,
.button-link {
  /* Standard property first */
  appearance: none;
  /* Fallback for older Webkit browsers (iOS Safari < 15.4) */
  -webkit-appearance: none;

  /* Resetting the color/text */
  color: black;
  text-decoration: none;

  /* Ensure the "Special Elite" font isn't overridden */
  font-family: "Special Elite", system-ui, serif;
}
