:root {
  color: white;
  background-color: #ffffffc5;
  font-family: "Special Elite", system-ui, serif;
}

button,
.button-link {
  /* 1. Reset Appearance (iOS/Safari fix) */
  appearance: none;
  -webkit-appearance: none;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit; /* Inherits "Special Elite" from :root */
  color: black;
  text-decoration: none;

  cursor: pointer;
  background-color: #ffffffc5;
  transition: all 0.25s ease;

  width: 150px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:hover,
.button-link:hover {
  background-color: #ffffff;
}
.navlink.active > button {
  background-color: rgb(205, 176, 129);
  color: "white";
}
